1. 这是一个flutter项目, 当前使用的 flutter 版本为 3.22.3
2. 网络请求使用dio, 组件使用 GetWidget, 状态管理使用 GetX
3. 优先保证android端正常运行, 再保证ios端正常运行
4. 项目的主要功能是实现牧场管理, 包括牧场信息管理, 牧场设备管理, 牧场人员管理, 牧场饲料管理, 牧场药品管理, 牧场疾病管理, 牧场销售管理, 牧场财务管理, 牧场统计分析等
5. 在调用命令时, 注意所使用的平台, 比如Windows下使用 mkdir -p 是不支持的, 使用 create-item 命令创建文件夹